<h1>Hello, and welcome to my texting app.</h1>
<h3>You can send texts from it, but the coolest thing is that you can fetch the weather by texting it.</h3>
<h3>Send a text with the word "weather" and a valid zip code in it to (360) 928-7341 to get a forecast!</h3>
<h5>Although, unfortunately, this only works with phone numbers validated through my twilio account right now, because it's a free trial. I might change that someday though.</h5>
<h3>This app uses the <%= link_to "Twilio API", 'https://www.twilio.com/docs/api?filter-product=sms&filter-platform=server' %>, as well as the <%= link_to "Open Weather API", "http://openweathermap.org/api" %>so check those out if you like.</h3>
