<h1>Hello, and welcome to my texting app.</h1>
<h3>It's but a simple app, with some bugs still to be worked out.</h3>
<h3>It uses the <%= link_to "Twilio API", 'https://www.twilio.com/docs/api?filter-product=sms&filter-platform=server' %>, so check that out if you like.</h3>
