---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=Jenny%2C+I+got+your+number&To=<sample receiver phone number>&From=<sample
        sender phone number>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM5YTg3MGNiZDI2Yzk3OTFjMjMyMjkzMzg3ZGQ0MDc3NzoxZmJjOWEwZDQyMTRjNzUzZDM2MTYyYWFkZjliOTM1OA==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.267'
      Twilio-Request-Id:
      - RQ83a724660bb747a3b87e8d48574fff85
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM2dcca81f7885426e8e4b6ed2cb49e946", "date_created": "Mon,
        27 Feb 2017 23:59:17 +0000", "date_updated": "Mon, 27 Feb 2017 23:59:17 +0000",
        "date_sent": null, "account_sid": "<twilio account sid>", "to": "+1<sample
        receiver phone number>", "from": "+1<sample sender phone number>", "messaging_service_sid":
        null, "body": "Sent from your Twilio trial account - Jenny, I got your number",
        "status": "queued", "num_segments": "1", "num_media": "0", "direction": "outbound-api",
        "api_version": "2010-04-01", "price": null, "price_unit": "USD", "error_code":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/<twilio account
        sid>/Messages/SM2dcca81f7885426e8e4b6ed2cb49e946.json", "subresource_uris":
        {"media": "/2010-04-01/Accounts/<twilio account sid>/Messages/SM2dcca81f7885426e8e4b6ed2cb49e946/Media.json"}}'
  recorded_at: Mon, 27 Feb 2017 23:59:17 GMT
recorded_with: VCR 3.0.3
