---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/SMS/Messages.json
    body:
      encoding: US-ASCII
      string: From=<sample sender phone number>&To=<sample receiver phone number>&Body=Hey+Hey
    headers:
      Authorization:
      - Basic QUM5YTg3MGNiZDI2Yzk3OTFjMjMyMjkzMzg3ZGQ0MDc3NzoxZmJjOWEwZDQyMTRjNzUzZDM2MTYyYWFkZjliOTM1OA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - 1688d4ffea05dad8a43f85b7c96b8ea9
      I-Twilio-Customer-User-Agent:
      - None
      Last-Modified:
      - Wed, 01 Mar 2017 00:19:14 +0000
      Twilio-Request-Duration:
      - '0.288'
      Twilio-Request-Id:
      - RQ34bd4c21106f4d6fbec4a3d45bd3c111
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM1b8d0660ddf0460da1aa9c02193bc82b", "date_created": "Wed,
        01 Mar 2017 00:19:14 +0000", "date_updated": "Wed, 01 Mar 2017 00:19:14 +0000",
        "date_sent": null, "account_sid": "<twilio account sid>", "to": "+1<sample
        receiver phone number>", "from": "+1<sample sender phone number>", "body":
        "Sent from your Twilio trial account - Hey Hey", "status": "queued", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "uri": "/2010-04-01/Accounts/<twilio account sid>/SMS/Messages/SM1b8d0660ddf0460da1aa9c02193bc82b.json",
        "num_segments": "1"}'
  recorded_at: Wed, 01 Mar 2017 00:19:14 GMT
recorded_with: VCR 3.0.3
