---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=&To=<sample receiver phone number>&From=<sample sender phone number>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM5YTg3MGNiZDI2Yzk3OTFjMjMyMjkzMzg3ZGQ0MDc3NzoxZmJjOWEwZDQyMTRjNzUzZDM2MTYyYWFkZjliOTM1OA==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.098'
      Twilio-Request-Id:
      - RQ59f132c5da1c4f10950842c83a92d806
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21602, "message": "Message body is required.", "more_info":
        "https://www.twilio.com/docs/errors/21602", "status": 400}'
  recorded_at: Tue, 28 Feb 2017 00:10:02 GMT
recorded_with: VCR 3.0.3
